.card-footer {
    display: none;
}

.kr-smart-form-modal-button {
    display: none !important;
}

.kr-payment-button.kr-smart-form-single-payment-button {
    display: none !important;
}

.blockUI.blockOverlay {
    display: none !important;
}

.kr-amount-label {
    margin-top: 0px !important;
}

.kr-method-label {
    margin-top: 0px !important;
}

.kr-method-label-wrapper > label {
    margin-top: 0px !important;
}